[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/SFML"]
	path = extern/SFML
	url = https://github.com/SFML/SFML
